// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

//variables//
@raleway: 'Raleway', sans-serif;
@main-color: #E9B8B1;
@gray-border: #dddddd;

//mixins//
.section-content() {
	display: flex;
	justify-content: space-between;
}

.subheader() {
	font-size: 1.8rem;
	font-weight: bold;
	text-decoration: underline;
}

html, body {
		height: 100%;
		font-size: 62.5%;
		margin: 10px 2rem;
		font-family: @raleway
}
.home {
	font-size: 1.6rem;
}

.nav {
	display: flex;
	justify-content: flex-end;

	@media( max-width: 500px) {
	justify-content: center;
	}	

	a {
		text-decoration: none;
		color: black;
		font-size: 1.8rem;
		margin-left: 1rem;
	}
}

a:hover {
	color: @main-color;
	background-color: @gray-border;
	padding: 2px 7px;
	transition: 0.5s;
}

.bio {
	padding: 20px;
	margin-top: 20px;
	background-color: @main-color;

	@media( max-width: 500px) {
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	}	
	
	img {
		width: 15rem;
		padding-bottom: 10px;
		border-radius: 50%;
	}

	h1 {
		font-size: 3rem;
	}

	h3 {
		font-size: 1.5rem;
		padding-bottom: 10px;
		border-bottom: 1px solid @gray-border;
	}

	p {
		padding-top: 10px;
	}
}

section {
	.section-content;
	margin: 20px 0;

	.skills {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between
	}

	@media(max-width: 500px) {
		display: flex;
		flex-direction: column;
	}

	div {
		width: 45%;
		border: 1px solid @main-color;
		padding: 10px;


		@media( max-width: 500px) {
			width: 100%;
			border: none;
		}

		h2 {
			.subheader;
			
			@media( max-width: 500px) {
				text-align: center;
				padding-bottom: 10px;
			}	

		.about p {
			padding-top: 10px;
			line-height: 30px;
			}
		}
	}
}


.work-history {
	h2 {
		.subheader;
		margin-bottom: 10px;

		@media (max-width: 500px) {
			text-align: center;
		}
	}

	table {
		margin-bottom: 20px;

		th {
			font-weight: bold;
		}

		td, th {
			text-align: left;
			padding: 8px;
			border: 1px solid @gray-border;
		}
			
		tr:nth-child(even) {
			background-color: @main-color;
		}
	}
}

footer {
	.contact {
		h2 {
			.subheader;
			margin-bottom: 10px;
		}

		p {
			line-height: 1.5rem;
		}

		@media (max-width: 500px) {
			text-align: center;
		}
	}

	.copyright {
		margin-top: 10px;
		text-align: center;
		padding-top: 20px;
		padding-bottom: 5px;
		background-color: @main-color;
	}
}